<html>
<head>
    <title>Tami Pago Kod Örnekleri</title>
</head>
<body>
    <h3>
        Aşağıdaki adresleri çağırarak işlemleri test edebilirsiniz. <br />
        HomeController içerisinde hizmetlerin test caseleri kodlanmıştır.
    </h3>
    <h4>StaticContents üzerinden Endpoint, MerchantId, TerminalId, SecretKey ayarlarını yapabilirsiniz.</h4>
    <ul>
        <li>/home/auth</li>
        <li>/home/preauth</li>
        <li>/home/postauth</li>
        <li>/home/reverse</li>
        <li>/home/auth3d</li>
        <li>/home/preauth3d</li>
        <li>/home/authcomplete3d</li>
        <li>/home/query?orderId={id}&isTransactionDetail=true</li>
        <li>/home/installmentinfo?binNumber={number}</li>
        <li>/home/bininfo?binNumber={number}</li>
    </ul>
</body>
</html>

